{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} <h1 class="bg-[#f0ead2] bg-[#dde5b6] bg-[#adc178] bg-[#a98467] bg-[#6c584c]"></h1> {% endcomment %}
    <div class="md:flex place-self-center items-center text-white">
        
        {% if not user_home.avatar %}
        <div class="relative justify-center h-[200px] md:h-[300px] object-cover aspect-square overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
        {% else %}
        <img class="h-[250px] place-self-center  object-cover aspect-square p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="{{ user_home.avatar.url }}" alt="Bordered avatar">
        {% comment %} <img src="{{ user_home.avatar.url }}" alt="Avatar" class="h-[200px] md:h-[300px] lg:h-[400px] aspect-square 
        object-cover rounded-full mt-3 ml-3 clear-right  border-[#6c584c] mr-4"> {% endcomment %}
        {% endif %}
        <div class="md:ml-3.5">
            <h1 class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 
            md:text-5xl lg:text-6xl dark:text-white">{{user_home.last_name}} {{user_home.first_name}}</h1>
        {% comment %} <p class="text-2xl text-center font-bold">{{user_home.first_name}} {{user_home.last_name}}</p> {% endcomment %}
        <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-4 dark:bg-gray-500">
        <p class="text-2xl font-bold text-center">Backend программист</p>
        
        {% comment %} <p class="font-bold font-serif">{{user_home.job}}</p>{{user_home.first_name}} {{user_home.job}} sadsadsa{{user_home.last_name}} {% endcomment %}
        {% comment %} <p class="text-left font-bold text-xl mb-1">Мой стек</p>
        <div class>
        {% for stack in stacks %}
        <div class="border-2 border-[#6c584c] rounded-2xl px-1 py-1 select-none transition hover:scale-105 w-auto inline-block mb-1 font-bold font-serif">{{stack.stack_id.name}}</div>
        {% endfor %}
        </div> {% endcomment %}
        </div>
    </div>
    {% comment %}  {% endcomment %}
{% endblock content %}