{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="mt-20 mx-4 ">
    <h2 class="text-4xl text-center 
    font-extrabold dark:text-white">{{ post.title}}</h2>
    {% if images_post %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 mx-5 gap-4">
        {% for image in images_post %}
        <div class="overflow-clip object-cover aspect-auto rounded-lg ">
            <img src="{{image.image.url}}" class="object-contain">
        </div>
        {% endfor %}
      </div>
    {% endif %}
    <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-10 dark:bg-gray-700">
    <p class="my-4 text-lg text-gray-500">{{post.text | linebreaksbr}}</p>
</div>
{% endblock content %}